@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    color: #333;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Slight transparency */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header .logo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 20px;
}

nav {
    background-color: rgba(121, 93, 36, 0.8); /* Slight transparency */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 80vh; /* Adjust as needed */
}

section {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7); /* 70% transparency */
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.cta {
    background-color: rgba(121, 93, 36, 0.8); /* Slight transparency */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.cta .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(121, 93, 36, 0.8); /* Slight transparency */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.cta .button:hover {
    background-color: rgba(127, 61, 0, 0.8); /* Slight transparency */
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Slight transparency */
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

footer .social-media a i {
    margin-right: 5px;
}

footer .social-media a:hover {
    text-decoration: underline;
}